.top-bar {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
  display: flex;
  justify-content: space-between;
  background-color: #B22F16;
  height: 80px;
  align-items: center;
  margin-bottom: 55px;
  overflow: hidden;

  &--not-home {
    margin-bottom: 0;
    width: 100%;

    .top-bar__actions {
      flex: 1;
      display: flex;
      padding-left: 75px;
    }

    .top-bar__actions-item {
      margin-left: auto;
      &:first-child {
        border-left: 1px solid #fff;
        padding-left: 35px;
      }
    }
  }

  &__logo {
    max-width: 140px;
    width: 100%;
    height: auto;
    margin-top: 14px;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__actions {
    display: flex;
    padding-right: 50px;
    align-items: center;

    &-item {
      margin-left: 35px;
      color: #fff;
      border-left: 1px solid #fff;
      padding-left: 35px;

      &--not-home {
        color: #fff;
        margin-right: 35px;

        &:last-of-type {
          margin-right: 0;
        }
      }

      &:first-child {
        padding-right: 0;
        border-left: none;
      }

      &-label {
        font-size: 12px;
        line-height: 14px;
        font-weight: 300;
        margin-bottom: 2px;
      }

      &-value {
        font-size: 14px;
        line-height: 16px;
      }
    }

    &-language-switcher {
      display: flex;
      align-items: center;
      max-height: 16px;
    }
  }
}