.interviewers-settings {
    width: 100%;
    padding: 20px;
}

.interviewers-slider-label {
    margin-bottom: 40px !important;
}

.interviewers-list {
    max-height: calc(100vh - 101px);
    overflow: auto;
}