.interviewers {
    &-settings {
        width: 100%;
        padding: 28px 23px;
        display: flex;
        flex-direction: column;

        &__title {
            text-transform: uppercase;
            color: #5D6071;
            display: flex;
            align-items: center;
            padding-bottom: 10px;
            border-bottom: 1px solid #D2D3D8;
            margin-bottom: 37px;
        }

        &__confirm {
            text-align: center;
            padding-top: 22px;
            border-top: 1px solid #D2D3D8;
            margin-top: auto;

            &-button {
                text-decoration: none;
                color: #fff;
                border-radius: 20px;
                background: #005AA3;
                outline: none;
                font-size: 15px;
                border: none;
                padding: 7px 30px;
                cursor: pointer;
            }
        }

        &__indicators {
            margin: 20px 0 10px;
            &-item {
                position: relative;
                padding-left: 20px;

                &:before {
                    content: '';
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: #000;
                    position: absolute;
                    top: 4px;
                    left: 0;
                }

                &--green {
                    &:before {
                        background-color: #308428;
                    }
                }

                &--blue {
                    &:before {
                        background-color: #4D8AF0;
                    }
                }

                &--red {
                    &:before {
                        background-color: #B22F16;
                    }
                }
            }
        }
    }

    &-slider {
        &-label {
            margin-bottom: 40px !important;
        }
    }

    &-list {
        max-height: calc(100vh - 415px);
        overflow: auto;

        .MuiListItem-gutters {
            padding: 0;
        }

        .MuiListItemIcon-root {
            min-width: auto;
        }

        .MuiListItem-button {
            transition: none;

            &:hover {
                background-color: transparent;
            }
        }

        .MuiIconButton-root {
            padding: 4px 9px !important;
        }

        .MuiCheckbox-colorSecondary.Mui-checked {
            color: #005AA3;
        }
    }

}